body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  .light {
    background-color: #ffffff;
    color: #000000;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider::before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4ade80;
  }
  
  input:checked + .slider::before {
    transform: translateX(22px);
  }
  